.snowflake {
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  animation: fall 10s linear infinite;
}

@keyframes fall {
  from {
  }
  to {
    transform: translateY(100vh);
    opacity: 0;
  }
}
